.news{height: 100px;width: 600%;position: fixed;top: 0;left: 20%;padding-left:40% ;background-color: white;z-index: 999;}
.news>li{float: left;width: 60px;height: 20px;color: #424242;line-height: 20px;margin: 30px 10px 0 10px;font-size: 10px;}
.news>li:hover{text-decoration:underline}
