.clear{clear:both;}
.pur_h_login{height:30px;line-height: 30px; float:right;}
.head_box{width:100%;height:76px;background:#fff;}
.header_con{width:1200px;height:76px;margin:0 auto;}
.pur_header_logo{float: left;width: 130px;height: 34px; margin: 20px 20px 0 0;overflow: hidden;text-indent: -999em; background:url(../images/personalImg/6.png) no-repeat;}
.header_nav {float: right;}
.header_nav ul li .header_active{color:#f55;}
.header_nav ul li{display: inline;position: relative;line-height: 76px;z-index: 100;float: left; margin-left: 30px;}
.header_nav ul li a{color:#333; display:block;}
.header_nav>ul>li:nth-child(2) a{color:#f55; border-bottom: 2px solid #f55; margin-bottom: 15px;background:url(../images/personalImg/13.png) bottom no-repeat;}
.header_nav ul li a:hover{color:#f55;}
/* header and top end */
.body_warp{padding:30px 0 0;}
.warp_content{width: 1200px;margin-left: auto;margin-right: auto;position:relative;}
.me_nav_warp{float: left;width: 240px;}
.me_nav{background: #fff;border: 1px solid #ddd;padding: 0 20px;margin-bottom: 20px;}
.me_nav_title{color: #333;font: normal 16px/56px Microsoft YaHei,sans-serif;background: url(../images/personalImg/14.png) 0 0 no-repeat;padding-left: 30px;background-position: 0 -60px;}
.me_nav_ul{margin: 0 -20px;font-size: 14px;border-top: 1px solid #f3f3f3;}
.me_nav_ul>li{line-height: 50px;height: 50px;border-bottom: 1px solid #f3f3f3;position: relative;}
.me_nav_ul>li>a{position: relative;display: block;line-height: 50px;height: 50px;padding-left: 56px;color: #333;transition: background .4s ease-out;}
.me_nav_ul>li>a:after{position: absolute;content: "";top: 50%;right: 20px;width: 7px;height: 11px;margin-top: -5px;background-position: 0 0;    background:url(../images/personalImg/1.png) 0 -24px no-repeat;}
.me_nav_ul>li:nth-child(2) a{color: #fff;background: #f55;cursor: default;}
.me_nav_ul>li>a:hover{background:#f55;color:#fff;}
.mybank{width:940px;float:left; margin-left: 20px;}
.bank_container{border: 1px solid #ddd;background: #fff;margin: 0 auto 20px;}
.bank_title{background: #fafafa;border-bottom: 1px solid #e7e7e7; font-size: 16px;color: #666;position: relative; line-height: 30px;padding: 10px 28px;}
.bank_c_body{padding: 15px 0 15px 15px;overflow: hidden;}
.bank_card{float:left;position:relative;border-style: dashed;height:144px;padding:0;box-sizing: border-box;width:268px;margin:15px;border:1px solid #d2d2d2;border-radius: 9px;}
.bank_card>a{ display: block;width: 100%;height: 100%;}
.bank_add .bank_txt{background: url(../images/personalImg/15.png) 0 no-repeat;
            font-size: 14px;padding-left: 35px;line-height: 28px;position: absolute;color: silver;top: 50%;left: 50%;margin: -14px 0 0 -53px;}
/* 输入卡号区 */
.bank_number_box{padding: 50px 30px;background: #fff; position:absolute;top:53px;display:none;width: 878px;height: 108px;}
.bank_mess{width: 630px;text-align: center;margin: 0 auto 30px;background: #ffffc6;color: #878787;line-height: 2;border: 1px solid #ffe76e;}
.bank_number_con{padding-left: 150px;position: absolute;}
.bank_number_con p.bank_mb{margin-bottom: 18px;}
.bank_mb label{ width: 130px;text-align: right;display: inline-block;color: #666;font-size: 14px;vertical-align: middle;}
.bank_mb input.numbertxt{width: 288px;    height: 26px;line-height: 26px;border: 1px solid #c7c7c7;padding: 0 5px;vertical-align: middle;}
.bank_mc{margin-bottom: 5px;}
.bank_mc label{width: 130px;text-align: right;display: inline-block;color: #666;font-size: 14px;vertical-align: middle; cursor: default;}
.bank_mc a.bank_x{background: #dadada;cursor: default;display:inline-block;padding:0 20px;height:42px;text-align: center;
              color:#fff;font-size: 16px;line-height: 42px;border-radius: 2px;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);}
/*.bank_x1{background: #ffa700;cursor: default;display:inline-block;padding:0 20px;height:42px;text-align: center;
              color:#fff;font-size: 16px;line-height: 42px;border-radius: 2px;/*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);*/}*/