ul,ol{list-style: none;}
a{text-decoration: none;}
*{margin: 0;padding:0;}


.body_wrap{width:100%;min-height: 500px;overflow:hidden;}
.page_activity{width:100%;height:320px;border-top: 2.5px solid #FF4466;}
.page_rxbb{width:960px;height:90px;margin: 0 auto;}
.page_sp{width:960px;min-height: 1000px;margin:0 auto;}
.sp{width:220px;height:435px;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);background-color: #fff;float: left;overflow:hidden;position: relative;}
.xx{margin: 0 22px 26px 0px;}
.x{margin: 0 0px 26px 0px;}
.sp .sp_img img{width:220px;height:330px;}
.title{width:200px;font-size: 14px;color:#666;line-height: 30px;white-space: nowrap;text-overflow: ellipsis;padding: 0 10px;overflow:hidden;}
.goods_info{height:18px;width:200px;padding:0 10px;overflow:hidden;line-height: 1;}
.goods_info .act_slogan{display:inline-block;border:1px solid #FF5777;color:#FF5777;font-size: 12px;line-height: 16px;padding:0 2px;}
.goods_info .act_now_price{color:#333;font-size: 16px;}
.goods_info .act_old_price{text-decoration: line-through;font-size: 12px;color:#999;margin-top: 5px;float:right;}
.sp .btnbanner{width:200px;height:35px;background-color: #FF5777;color:#fff;font-size: 14px;text-align: center;line-height: 35px;border-radius: 3px;position:absolute;bottom:10px;left:0;margin-left: 10px;}

