<div ng-app="newsModule"  ng-controller="newsctrl" class="linkone">
		<div class="text">
			<h2>{{numb}}</h2>
		</div>
		<ul class="news">
			<li>				
				<a href="#!/home/news/n1">all</a>	
			</li>
			<li>				
				<a href="#!/home/news/n2">book</a>	
			</li>
			<li>				
				<a href="#!/home/news/n3">magazine</a>	
			</li>
			<li>				
				<a href="#!/home/news/n4">web</a>	
			</li>
			<li>				
				<a href="#!/home/news/n5">other</a>	
			</li>
		</ul>
		<div class="news_1" ui-view>
			
		</div>
		
</div>